.wrap {
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  position: relative;
}
.wrapbox {
  width: 1150px;
  margin: auto;
}
header {
  height: 124px;
  background-color: #fff;
}

header h1 a {
  background-image: url(../images/logo_bbak_c.png);
  width: 208px;
  height: 62px;
  text-indent: -9999px;
  float: left;
  margin-top: 40px;
}
header div.info {
  display: flex;
  justify-content: right;
  padding-top: 30px;
}
header div.info a {
  width: 60px;
  font-size: 13px;
  margin-left: 22px;
  position: relative;
  color: #9a929e;
}
header div.info a:first-child::after,
header div.info a:nth-child(2)::after {
  content: '';
  width: 1px;
  height: 11px;
  background-color: #9a929e;
  display: block;
  position: absolute;
  top: 2px;
  left: 70px;
}
header div.info a.i_f {
  background-image: url(../images/ceo/topbar1.jpg);
  width: 20px;
  height: 20px;
  text-indent: -9999px;
}
header div.info a.i_i {
  background-image: url(../images/ceo/topbar2.jpg);
  width: 20px;
  height: 20px;
  text-indent: -9999px;
}
header nav {
  font-size: 16px;
  position: relative;
  margin-top: 36px;
  z-index: 20;
  width: 100%;
  text-align: center;
}
header nav > ul.gnb {
  display: flex;
  justify-content: space-between;
}
header nav ul li {
  width: 125px;
}
header nav ul.sub {
  margin-top: 45px;
  padding-left: 30px;
  text-align: left;
  display: none;
  position: relative;
}
header nav ul.sub li {
  padding-bottom: 10px;
}
header nav ul.sub > li::after {
  content: url(../images/ceo/menu-arr.png);
  position: absolute;
  top: -25px;
  left: 40%;
}

header nav ul.sub li:hover a {
  font-weight: bold;
}
.wrap div.navbox {
  width: 100%;
  position: absolute;
  top: 124px;
  left: 0;
  z-index: 5;
  display: none;
}
.wrap div.navbox img {
  height: 160px;
}
footer {
  width: 100%;
  height: 280px;
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
footer .wrapbox {
  position: relative;
}
footer h2 a {
  background-image: url(../images/logo_b.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 184px;
  height: 46px;
  margin: auto;
  text-indent: -9999px;
  margin-top: 42px;
  margin-bottom: 35px;
}
footer a.family {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
  padding: 5px 54px 5px 5px;
  border: 1px solid #000;
}
footer div.footer_info {
  width: 524px;
  margin: 0 auto;
  font-size: 14px;
}
footer div.footer_info > div {
  display: flex;
  justify-content: space-around;
}
footer div.footer_info p {
  position: relative;
  margin-top: 12px;
}
footer div.footer_info p::after {
  content: '';
  display: block;
  width: 1px;
  height: 11px;
  background-color: #000;
  position: absolute;
  top: 3px;
  right: -20px;
}
footer div.footer_info .info3 p::after {
  content: '';
  display: block;
  width: 1px;
  height: 11px;
  background-color: #000;
  position: absolute;
  top: 3px;
  right: -10px;
}
footer div.footer_info p:last-child::after {
  display: none;
}
footer .copy {
  text-align: center;
  padding-top: 40px;
}
