@charset "utf-8";
@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  user-select: none;
}
.hide {
  margin: -1px;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
body {
  font-family: 'Noto Sans KR', 'RIDIBatang', sans-serif;
}
img {
  width: 100%;
}
a {
  display: block;
}
button {
  cursor: pointer;
}
